
@font-face {
  font-family: Couture;
  src: url(../fonts/couture-bld.otf);
}
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.containerheader {
  width: 1200px;
  margin: 0 auto;
  background-color: #dd2211;
  /* background-image: url(/img/Layer\ 13.png); */
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 694px;
}
.header {
  width: 1010px;
  margin: 0 auto;
}
.statusbarheader {
  /* width: 1010px;
  margin: 0 auto; */
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 /* .logo__header {
} */
/* .bar__header {
} */ 
.ulheader {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.ulheader li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  /* font-family: "Montserrat"; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ulheader li a:hover {
  background-color: #130e27;
  border-radius: 5px;
  width: 0px;
  height: 20px;
}
.header1 {
  font-size: 90px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(19, 14, 39);
  font-weight: bold;
  text-transform: uppercase;
  /* height: 80px; */
  line-height: 80px;
  margin: 0;
  padding: 110px 0 0;
}
.header2 {
  font-size: 90px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  /* height: 80px; */
  text-transform: uppercase;
  line-height: 80px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.textheader {
  margin: 0;
  font-size: 18px;
  font-family: "PT Serif";
  font-weight: 100;
  max-width: 500px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  padding-top: 50px;
}

/* .container__service {
} */
.service {
  width: 1010px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.titleservice {
  display: flex;
  margin-bottom: 100px;
}
.logoservice {
  max-height: 132px;
  margin-bottom: 46px;
}
.servicered {
  font-size: 50px;
  font-family: Couture;
  color: rgb(198, 35, 20);
  font-weight: bold;
  margin: 45px 10px 0 0;
  padding: 0;
}
.serviceblue {
  font-size: 50px;
  font-family: "Couture";
  color: #130e27;
  font-weight: bold;
  margin: 45px 0 0 10px;
  padding: 0;
}
.cardsservice {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
}
.itemservice {
  width: 180px;
  height: 230px;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.containerstory {
  height: 130px;
  width: 1200px;
  margin: 0 auto;
  background-color: #130e27;
}
.story {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}
.textstory {
  font-size: 21px;
  margin: 25px 0 25px 0;
  font-family: serif;
  color: rgb(255, 255, 255);
  width: 630px;
  line-height: 26px;
}
.bottonstory {
  padding: 20px 0;
  margin: 30px 0 25px 0;
  width: 270px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(198, 35, 20);
}
.bottonstorya {
  font-family: "Myriad Pro";
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.containerpricing {
  background-color: #efefef;
  padding-top: 55px;
}
.pricing {
  width: 1010px;
  margin: 0 auto;
}
.titlepricing {
  text-align: center;
  padding: 0;
  margin: 0 0 50px 0;
  font-size: 50px;
  font-family: Montserrat;
  color: rgb(19, 14, 39);
  font-weight: bold;
}
.cardspricing {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.itempricing {
  height: 410px;
  width: 320px;
  background-color: #fff;
  margin-bottom: 65px;
  border-radius: 5px;
}
.titleitempricing {
  font-size: 22px;
  font-family: serif;
  color: rgb(22, 22, 22);
  text-align: center;
  margin: 35px 0 30px 0;
}
.priceitempricing {
    font-size: 60px;
    font-family: Montserrat;
    color: rgb(198, 35, 20);
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.tableitempricing {
    font-size: 22px;
    font-family: serif;
    text-align: center;
    list-style: none;
    padding: 0;
    color: rgb(22, 22, 22);
    line-height: 25px;
    padding-bottom: 10px;
}
.bottonitempricing {
    font-size: 22px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    background-color: #130e27;
    text-decoration: none;
    align-items: center;
    line-height: 1.273;
    text-align: center;
    padding: 15px 60px;
    border-radius: 5px;
}
.bottonitempricing:hover {
  background-color: rgb(198, 35, 20);
}

/* ----DOWNBAR---- */

.containerdownbar {
  width: 1200px;
  margin: 0 auto;
  height: 190px;
  background-color: #130e27;
}
.downbar {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.textdownbar {
  font-size: 20px;
  padding: 70px 0 0 0;
  font-family: serif;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  display: flex;
}
.textdownbar p {
  margin: 0;
  padding: 0 5px 0 0;
}
.textdownbar a {
  margin: 0;
  color: rgb(198, 35, 20);
  text-decoration: none;
}
.imgdownbar {
  padding: 65px 0 0 0;
}